<div style="display: flex;min-height: 100vh;flex-direction: column;">
<mat-toolbar class="top-bar">
  <mat-toolbar-row>
    <!-- app title -->
    <span>{{ title }}</span>
    <span class="topbar-spacer"></span>
    <button mat-icon-button *ngIf="qrCodeVisible" (click)="showQrCode()" #qrButton>
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<app-chat-list class="app-body" #chatList></app-chat-list>

<div class="chat-input-panel">
  <button mat-button name="open-file" (click)="openFile()" style="width: 10%;">File</button>
  <mat-form-field appearance="fill" style="flex: 1;">
      <textarea matInput [(ngModel)]="chatContent" (keydown)="onKeyDown($event)"></textarea>
  </mat-form-field>
  <button mat-button style="width: 10%;" (click)="postChat()">Send</button>
</div>
</div>