<cdk-virtual-scroll-viewport itemSize="100" class="chat-viewport" #chatViewport>
    <div fxLayout="row" fxLayoutAlign="space-between" *cdkVirtualFor="let chat of chats">
        <mat-card *ngIf="chat.type=='text/plain'" class="text-card">
            <mat-card-content [innerText]="chat.message">
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button color="primary" name="delete" (click)="delete(chat)">Delete</button>
                <button mat-button color="primary" name="copy" (click)="copy(chat.message)">Copy</button>
            </mat-card-actions>
        </mat-card>

        <mat-card *ngIf="chat.type=='application/octet-stream'" class="file-card">
            <mat-card-title>
                <span>{{ chat.message }}</span>
            </mat-card-title>
            <mat-card-actions align="end" *ngIf="chat.progress == 100">
                <button mat-button color="primary" name="delete" (click)="delete(chat)">Delete</button>
                <button mat-button color="primary" name="download" (click)="download(chat)">Download</button>
            </mat-card-actions>
            <mat-card-footer *ngIf="chat.progress != 100">
                <mat-progress-bar mode="determinate" [value]="chat.progress"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>

</cdk-virtual-scroll-viewport>